.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 40px;
    background-color: white;
    transition: all 0.5s ease;
    white-space: pre;
    ::selection {
        background-color: transparent;
    }
    .click {
        position: absolute;
        font-size: 25px;
        display: inline-block;
        padding: 5px 8px;
        cursor: pointer;
        transition: all 0.5s ease;
        color: black;
        z-index: 10;
        &.clicked {
            font-size: 120px;
            opacity: 0;
            visibility: hidden;
        }
    }
    .hello {
        background-color: white;
        transition: all 1s ease;
        transition-delay: 2s;
        position: absolute;
        &.clicked {
            animation-name: hello-animation;
            animation-duration: 2s;
            animation-timing-function: ease;
            margin-right: 210px;
        }
        @keyframes hello-animation {
            0% {
                margin-top: 80px; 
                opacity: 0;
            }
            100% {
                margin-top: 0; 
                opacity: 1;
            }
        }
    }
    .cathy {
        background-color: white;
        margin-left: 240px;
        margin-top: 80px;
        opacity: 0;
        transition: all 1s ease;
        transition-delay: 2s;
        z-index: 2;
        &.clicked {
            opacity: 1;
            margin-top: -10px; 
        }
        span {
            margin-left: 5px;
            color: white;
            text-shadow: 3px 3px 4px #1783ff, 0 0 30px #94d9ff, 0 0 40px #4abcff;
            font-weight: bold;
            font-size: 60px;
        }
    }
    .bubble {
        position: absolute;
        opacity: 0;
        transition: all 0.7s ease;
        transition-delay: 3.5s;
        width: 280px;
        top: calc(50% - 230px);
        right: calc(50% - 345px);
        &.clicked {
            opacity: 1;
        }
    }
    .your-name {
        position: absolute;
        opacity: 0;
        transition: all 0.7s ease;
        transition-delay: 3.5s;
        top: calc(50% - 155px);
        right: calc(50% - 310px);
        font-size: 25px;
        font-weight: 500;
        text-align: center;
        width: 200px;
        &.clicked {
            opacity: 1;
        }
    }
    &.entered {
        animation: disappear 1s 1.3s forwards;
        @keyframes disappear {
            from {
                opacity: 1;
            }
            to {
                opacity: 0;
                visibility: hidden;
            }
        }
    }
}